<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Cryptocurrency</title>
</head>
<body>
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Cryptocurrency Prices</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <img src="./images/bitcoin.png" alt="bitcoin" height="40px" width="40px">
            <h3 class="fs-2 text-body-emphasis">BTC (Bitcoin)</h3>
            <p>$<%= bitcoin %></p>
          </div>
          <div class="feature col">
            <img src="./images/litecoin.png" alt="litecoin" height="40px" width="40px">
            <h3 class="fs-2 text-body-emphasis">LTC (Litecoin)</h3>
            <p>$<%= litecoin %></p>
          </div>
          <div class="feature col">
            <img src="./images/ethereum.png" alt="ethereum" height="40px" width="40px">
            <h3 class="fs-2 text-body-emphasis">ETH (Ethereum)</h3>
            <p>$<%= ethereum %> </p>
          </div>
        </div>
      </div>
      <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <img src="./images/dogecoin.png" alt="dogecoin" height="40px" width="40px">
            <h3 class="fs-2 text-body-emphasis">DOGE (Dogecoin)</h3>
            <p>$<%= dogecoin %></p>
          </div>
          <div class="feature col">
            <img src="./images/solana.png" alt="solana" height="40px" width="40px">
            <h3 class="fs-2 text-body-emphasis">SOL (Solana)</h3>
            <p>$<%= solana %></p>
          </div>
          <div class="feature col">
            <img src="./images/cardano.png" alt="cardano" height="40px" width="40px">
            <h3 class="fs-2 text-body-emphasis">ADA (Cardano)</h3>
            <p>$<%= cardano %> </p>
          </div>
        </div>
      </div>
</body>
</html>